.clear{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #333333;
}

ins{
    text-decoration: none;
}
/*---------------------------------*/

.head-step{
    border-bottom: 1px solid #f54D56;
    margin-top: 80px;
    padding-bottom: 20px;
}
.cart-step li{
    float: left;
}
.process-step {
    background-color: #f54D56;

}
.process-step-no{
    background-color: #CCCCCC;
}
.process-step,.process-step-no{
    color: #FFFFFF;
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
    line-height: 7px;
    padding: 9px;
}
.process-stepb{
    font-size: 13px;
    color: #f54D56;
    font-weight: bold;
    margin-right: 90px;
}
.process-stepbn{
    font-size: 13px;
    color: #CCCCCC;
    font-weight: bold;
    margin-right: 90px;
}
.stephr{
    width: 50px;
    margin-top: 10px;
    border: 2px solid #f54D56;
}
.stephr-no{
    margin-top: 10px;
    border: 2px solid #DDDBDB;
}
/*购物车为空*/
.emptycart{
    margin-top: 50px;
    color: #1E90FF;
    font-size: 16px;
    font-weight: bold;
}
.emptycart a{
    color: #d43f3a;
    font-size: 18px;
}

/*商品列表*/
.body-cart{
    margin-top: 40px;
    margin-bottom: 15px;
}
.body-cart h3{
    font-size: 18px;
    font-family: "Microsoft YaHei";

}
.body-cart a{
    font-size: 13px;
    text-decoration: none;
    color: #0180d1;
}
/*-----------------购物车顶部----------------*/
.cart-title,.shhowcartinf th {
    height: 44px;
    border: 1px solid #e5e5e5;
    background-color: #FAFAFA;
    position: relative;
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #333;
    font-family: "Microsoft YaHei";
    margin-bottom: 30px;
}

.cart-prod{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #EEEEEE;
    overflow: auto;
}
.cart-prod .col-lg-5{
    text-align: left;
}
.cart-prod:hover{
    border: 1px solid #f54D56;
}
.cart-list{
    border: 1px solid #e5e5e5;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: 12px;
    position: relative;
    text-align: center;
}
.cart3_list li {
    position: relative;
    margin: 8px 8px 8px 0px;
}
.cart-list .pic{
    width: 66px;
    height: 66px;
    text-align: center;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    padding: 3px;
    background: #fff none repeat scroll 0% 0%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
.pic img{
    width: 60px;
    height: 60px;
}
.tit{
    display: inline-block;
}
.cart-checkbox{
    width: 12px;
    height: 12px;
    border: 1px solid #FF3333;
    display: inline-block;
    overflow: hidden;
    position: absolute;

}

.cart-prod .price,.count{
    text-align: center;
    color: #E60012;
    font-family: Consolas;
    height: 66px;
    line-height: 66px;

}
.cart-prod a{
    pointer-events: auto !important;
}
.favorite{

    filter: alpha(opacity=1) !important;
    z-index: 1003;
    opacity:1 !important;
    -moz-opacity:1 !important;
    cursor: pointer !important;
    pointer-events: auto !important;
}
.favorite a{
    display: block;
    color: #00ACED;
 }
.favorite a:hover{
    color: red;
}
.store{
    height: 66px;
    line-height: 66px;
    font-size: 12px;
    color: #999999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.favorites{
   padding-top: 15px;
}
.favorites,.items-delete{
    /*background-color: #f2f2f2;*/
}
/*//库存不足*/
.not_stock{
    margin-left: 10px;
}
/*无货*/
.notsell{
    margin: 16px;
    font-size: 13px;
    color: #aa0000;
}



.cart-bottom{
    background-color: #f1f1f1;
    border: 1px solid #e9e9e9;
    overflow: auto;
}
.cart-bottom li{
    display: inline-block;
    text-align: center;
    padding: 15px 25px 8px;
    font-family: Calibri, Arial;
    color: #9c9c9c;
    font-weight: bold;
    font-size: 12px;
}
.cart-bottom li .number,.cart-bottom li .price{
    margin: 10px;
    padding: 0px;
    display: block;
}
.cart-bottom .price{
    color: #f84545;
    font-weight: bold;

}
.checkstore span{
    margin-right: 15px;
}
.cart-paybar{
    font-size: 12px;
    color: #666;
    text-align: center;
    /*border: 1px solid #EEEEEE;*/
    margin-top: 30px;
    overflow: auto;
    font-family: Consolas;
    line-height: 50px;
    overflow-y: hidden;
    /*height:50px;*/

}
.mr10 a{
    color: gray;
    margin-left: 10px !important;
}
.mr10 a:hover{
    color: red;
    margin-left: 10px !important;
}
.goondsnum{
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin: 0px 3px;
}
#paybtn{
    display: block;
    width: 152px;
    margin-top: 0px;
    background: #F13E3A;
    color: #FFFFFF;
    font-family: Consolas;
    font-size: 28px;
    float: inherit;
}
.cart-paybar-info{
    /*width: 152px;*/
    height: 51px;
    font-size: 26px;
    color: #F13E3A;
    font-weight: 700;
    margin-right: 30px;
    padding: 8px 5px;
}


/*订单确认页面*/

#backinf{
    min-width: 30em;
}
.cart-wrap{
    overflow: auto;
    overflow-y: hidden;
}
.cart-wrap h2{
    height: 46px;

    font: 700 14px/46px helvetica,tahoma,arial,sans-serif;
}
.cart-address-wrap{
    font-size: 12px;
}
.cart-address-list li{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 3px dashed #DDDDDD;
    border-radius: 2px;
}
.cart-address-list li:hover{
    border: 3px dashed #0180d1;
}

.cart-address-default{
    position: absolute;
    right: 20px;
    top: 14px;
    width: 64px;
    height: 16px;
    background-color:#EEEEEE ;
    cursor: pointer;
}
.cart-address-tit{
    width: 135px;
    padding-bottom: 12px;
    font: 700 14px/26px helvetica,tahoma,arial,sans-serif;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}
.cart-address-card{
    display: block;
    position: relative;
    padding: 10px 20px 15px;
    width: 200px;
    height: 135px;
}
.cart-address-list .cart-address-card-choose{
    border: 3px dashed #0180d1;
}
.cart-address-strert,.cart-address-zipinf,.cart-address-phone{
    color: #666;
    overflow: hidden;
    max-height: 38px;
}

.cart-address-edit{
    display: none;
    position: absolute;
    bottom: 14px;
    left: 180px;
    font-size: 14px;
    color: #666;
    font-style: normal;
    text-decoration: underline;
    white-space: nowrap;
}
.cart-hr{
    margin: 0px;
    padding: 0px;
}
.cart-address-crt{
    padding: 12px 0px;
}
.cart-address-crt li{
    color: #666;
    padding-left: 12px ;
    float: left;
}
/*商品信息*/
.shhowcartinf{
    text-align: center;
}
.shhowcartinf th{
border: none;
}
.shhowcartinf thead,.shhowcartinf tr{
    border: 1px solid #EEEEEE;
}
.shhowcartinf tbody>tr{
    margin: 10px 5px;
    overflow: auto;
   line-height: 45px;
}
.shhowcartinf tr>td{
    font-size: 12px;
    color: #333;
}
.cartchecked {
    font-size: 12px;
    font-family: Calibri, Arial;
    border: 1px solid #EEEEEE;
    overflow: auto;
}
.cartchecked li{
    margin: 20px 0px;
}
.cart-surbar{
    overflow: hidden;
    font-size: 12px;
    color: #666;
    text-align: center;
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    font-family: Consolas;
    /*height: 50px;*/
    line-height: 50px;
    overflow-y: hidden;
}
#cartsurbtn{
    display: inline-block;
    width: 152px;
    height: 51px;
    margin-top: -1px;
    margin-left: 10px;
    background: #FFA701;
    color: #FFFFFF;
    font-family: Consolas;
    font-size: 28px;
    float: inherit;
}
/*发票*/
.invoiceType{
    margin-bottom: 15px;
}
.invoiceCont li{
    margin-bottom: 15px;
}

.showinforder{
    border: 1px solid #EEEEEE;
    padding-left: 30px;
    color: #666666;
    padding: 30px 30px 40px;
    font-size: 13px;

}
.showinforder li{
    font-weight: normal;

}
#saveinf,#cancle{
    background-color: #f84545;
    color: #FFFFFF;
    font: 14px bold;
    line-height: 20px;
    padding: 6px 12px;
    border: none;
}
#cancle{
    background-color: gray;
}
.payinfo{
    border: 1px solid #EEEEEE;
    padding:  30px 30px 40px;
    font: 13px normal;
    color: #666666;
}
.payinfo h6{
    margin-top: 15px;
}
.payment-box{
    margin-right: 22px;
    padding-bottom: 0px;
    margin-left: 22px;
}
.payment-box{
    margin: 15px 0px;
}
.radio_select {
    padding: 8px 5px 8px 15px;
    border: 1px solid #D4D4D4;
    height: 50px;
    line-height: 50px;
    color: #333;
    position: relative;
}
#input-payment .on_click {
    border: 3px solid #FFCC7E;
    padding: 6px 3px 6px 13px;
    cursor: pointer;
}
.pay_method_item em{
    color: red;
}
/*优惠券*/
/*店铺优惠券*/
.btn-danger{
    background-color: #e5312a;
}
#shopVoucher{
    position: absolute;
    z-index: 9;
    font-size: 12px;

}
#shopVoucher em{
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    color: #c7254e;
    font-size: 20px;
}
#shopVoucher button{
    border-radius: 0;
    background-color: #ffffff;
    border:  1px solid #D2CF99;
    color: #333;
    margin-left: 20px;
}

.voucher-p{
    margin-right: 20px;
    padding: 10px 15px;
    /*box-shadow: inset 0 0 1px #fff,inset 4px 4px 20px rgba(255,255,255,033),inset -2px -2px 10px rgba(255,255,255,0.25);*/
    display: inline-block;
    background-color: #F5A739;
    color: #fff;
    cursor: pointer;
}
.voucher-p:hover{
    background-color:#FD485A;
}
.voucher-title{
    padding: 8px 10px;
}
.voucher-p .price{
    font-size: 18px;
    color: #ffffff;
}
.money{
    font-size: 40px ;
    padding-right: 10px;
}
.voucher-active{
    background-color:#FD485A;
}


/*zh*/
.mask {
     top: 0px; filter: alpha(opacity=60); background-color: #eee;
    z-index: 1002; left: 0px;
    opacity:0.5; -moz-opacity:0.5;
    cursor: not-allowed;

}