/*-----------------------------table的样式-----------------------------------------*/
.table ,.table2 {
    max-width: 100%; backgroud-color:transparent;
}
th{
    text-align: left;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;          /**设置单元格的内边距*/
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd; /**每行记录都有1条1个像素的横线*/
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd; /**thead有一条2个像素的横线*/
}

.table >tbody+tbody {
    border-top: 2px solid #ddd; /**如果表格里有2个tbody，两者之间也会有1条2个像素宽的横线*/
}
.table .tr .td {
    align-content:center;
}
.table2 td{
    padding: 20px;
}
.table2{
    width: 100%;
    height: 15px;
}
/*-----------------------------table的样式-----------------------------------------*/
/*---------------------------数量选择样式------------------------------------*/
.prod-buychoose{
    margin: 15px 5px;
}
#choose-num1,#choose-num2,#choose-num3 a{
    font-size:16px;
}
.reduce,.add{
    padding:6px;
    font-size: 14px;
    border-radius: 0px;
    border:1px solid #968F88;
}
.reduce{
    border-right: transparent;
}
.add{
    border-left: transparent;
    margin-left: -4px;
}

#buycount1 ,#buycount2,#buycount3 {
    height: 30px;
    width: 60px;
    text-align: center;
    margin-left: -4px;
    margin-top: 1px;
}
/*-------------------------数量选择样式------------------------------------*/