.menu{
    z-index: 1;
}
.usermid{
    z-index: 2;
}
/*----------------左侧菜单----------------*/
.order {
    margin-top: 20px;
}

.order_select {
    width: 12%;
    float: left;
}

.order_content {
    width: 84%;
    margin-left: 20px;
    float: left;
    height: 1500px;

}

#order {
    margin: 10px 12px;
}

a {
    color: #8c8c8c;
}

.bg {
    margin-top: -10px;
    text-align: center;
    background-color: #FCFCFF;
    margin-left: auto;
    margin-right: auto;
}

.portrait {
    margin-top: 10px;
    mrgin-bottom: 10px;
}

.portrait p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.portrait img {
    border: 2px solid #eee;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.portrait p {
    color: #255625;
}

.bg > ul > li {
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #A9A9A9;

}

ul, li {
    margin: 0;
    padding: 0;
}

ul li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
    color: #5e5e5e;
}

#order li a {
    border-style: none;
    text-decoration: none;
}

#order li a:hover {
    color: #8c8c8c;
}

#order li.active a {
    color: #FF2D2D;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
}
.navlist span{
    -webkit-text-size-adjust:none;
    font-size: 9px;
    color: #444444;
    margin-left: 15px;
    font-weight: normal;
}
.navlist-l{
    font-size: 13px;
    color: #444444;
    margin-left: 15px;
    font-weight: normal;
}
/*-----------------------订单内容-------------------------*/
.order_title {
    position: relative;
    height: 40px;
    background-color: #FFCBB3;
    font-weight: bold;
    color: #5e5e5e;
}

.order_title ul li {
    display: inline;
    text-align: center;
    float: left;
}

.goods {
    width: 25%;
    text-align: left;
}

.sprice, .quantity, .aftersale, .rtotal, .total_price, .status, .other {
    text-align: center;
}

.sprice {
    width: 12%;
}

.sprice span {
    font-size: 16px;
    font-weight: 700;
}

.quantity {
    width: 8%;
}

td.quantity {
    font-weight: 700;
}

.aftersale {
    width: 10%;
}

.rtotal {
    width: 15%;
}

.total_price {
    font-size: 16px;
}

.status {
    width: 12%;
}

.status p {
    font-weight: 700;
}

.other {
    width: 16%;
}

.other a {
    padding: 5px 10px;
    color: #fff;
    background-color: #F54D56;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.borderstyle {
    border-color: #ff0;
}

.order_table {
    border: 1px solid #eee;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

.order_table_header {
    background-color: #f7e1b5;

}

.order_table_header td {
    padding: 10px;
}

.order_table_header td span {
    margin-right: 20px;
}

.order_table_item {
    height: 150px;
}

.deal_time {
    margin-left: 20px;
}

.goods img {
    margin: 5px;
    width: 80px;
    border: 1px solid #eeeeee;
    float: left;
}

.desc {
    display: inline;
    margin-left: 5px;
}

.desc a {
    color: #5e5e5e;
}

.desc p {
    color: #8c8c8c;
}

.pagination {
    margin-left: 40%;
}

.pagination .c {
    background-color: #F54D56;
    color: #fff;
}

.pagination a {
    color: #F54D56;
    min-width: 20px;
    height: 30px;
    line-height: 30px;
    padding: 5px 12px;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #F54D56;
    color: #fff;
}

#obli {
    margin: 100px 200px;
}

.oblii, .oblic {
    float: left;
}

.oblic {
    padding-left: 20px;
}

.oblic h3 {
    color: #F54D56;
}

.oblii img {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 5px;
}

.oblic p {
    font-size: 18px;
}

.oblia a {
    color: #F54D56;
    padding: 0 2px;
}

/*--------------安全设置-------------*/
.safe_set {

}

.safe_content {
    border: 1px solid #eee;
    display: inline;
}

.safe_title {
    font-size: 20px;
    margin: 0 10px;
}

.safe_range {
    margin: 30px;
    font-size: 16px;
    color: #783804;
    width: 80%;
}

.srange {
    float: left;
}

.safe, .safe_middle, .unsafe {
    margin-left: 5px;
    margin-right: 5px;
}

.safe {
    color: #047815;
}

.safe_middle {
    color: #EFA835;
}

.srange {
    float: left;
}

.unsafe {
    color: #FF2D2D;
}

#degree {
    width: 80%;
}

.info_name, .info_number, .info_email, .info_password {
    margin: 15px;
    border: 1px solid #e5e5e5;
}

.r_style {
    color: #38A514;
    margin: 20px 10px;
    font-size: 20px;
}

.state, .title, .info {
    display: inline-block;
    margin-right: 100px;
    width: 100px;
}

.setting {
    width: 50px;
}

.state {
    font-size: 25px;
}

.title, .info, .setting {
    font-size: 16px;
}

.setting {
    display: inline;
    margin-left: 150px;
    color: #F54D56;
    cursor: pointer;
}

.pnumber, .email_confirm, .set_password,.change_pn,.new_pnumber,.new_result{
    width: 80%;
    margin: 0 auto;
    border-top: 1px dotted #5e5e5e;
    display: none;
}

p.confirm {
    padding-top: 10px;
    color: #F54D56;
}

.btn_style {
    margin: 20px;
    background-color: #03700E;
    border-radius:5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 5px 10px;
}

.div1{
    display:none;
}
.new_pnumber>p{
    margin-top: 10px;
}
.new_pnumber>button{
    margin-left: 90px;
}
.new_result p{
    margin-top:20px;
    font-size: 20px;
}
.set_password > p:first-child {
    margin-top: 10px;
}
.ccge{
    color:#F54D56;
    margin-left: 10px;
    cursor:pointer;
}
.spl {
    width: 120px;
    text-align: right;
}

.set_password > button {
    margin-left: 120px;
}
.check_new{
    color:#F54D56;
    font-weight: bold;
}

